DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=root123
DB_PORT=3320
DB_NAME=car_api
DATABASE_URL=mysql+aiomysql://root:root123@127.0.0.1:3320/car_api

JWT_SECRET_KEY=testsecretkey123456789
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30
